body{
    background-color: lightyellow;
    height: 100%;
}

nav{
    background-color:#262a46;
}

h2{
    font-weight: bold;
}

section{
    background-color: #262a46;
}

.lead{
    text-align: justify;
}

.carousel-bg{
    
    background-color:lightyellow;   
}

.about-bg{
    height: 400px;
    background-color:lightyellow; 
}

.icon-bg{
    height: 350px;
    background-color:lightyellow;
}

.icon-title{
    color: orange;
}

.fb-bg{
    height: 750px;
    padding: 0px 15px;
    text-align: center;
}

.apply-bg{
    height: 590px;   
}

.icon-link{
    margin-bottom: 5px;
 
}

#sticky-footer {
    flex-shrink: none;
  }

p.desc-team{
    font-size: 15px;
    text-align: justify;
    margin: 0px 10px;
}

p.desc{
    font-size: 15px;
    text-align: justify;
    margin: 0px 10px;
    padding: 0px 10px;
}

p.desc-apply{
    font-size: 15px;
    text-align: justify;
    color: white;
    margin:20px 120px;
 
}

pre{
    margin: 0px 10px;
    padding: 0px 10px;
    font-size: 10px;
}

a.btn{
    font-weight: 500;
    background-color: purple;
    border-color: purple;   
}
 
 /*GALLERY*/

 .gallery-container {
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-content: flex-start;
     
     
     
 }
 .gallery-container a{
     width: 230px;
     margin: 20px 55px ;
     
 }
 

.gallery-container a div{
    width: 100%;
    height: 235px;
    
  
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
}

.gallery-links{
    background-color:lightyellow; 
}
    



/*TEAM PHOTOS*/

#img_div{

    text-align: justify;
   
}

.team-bg{
    padding: 30px 20px 20px 20px;
}


.mapouter{
    position:relative;
    text-align:center;
    height:500px;
    width:345px;
    
}
    
.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:500px;
    width:345px;
}

p.price1{
    text-align:center;
    
}

p.price2{
    text-align:center;
    
}


 @media only screen and (min-width: 768px) {

    .about-bg{
        height: 300px;
       

    }

    .carousel-bg{
        height: 400px;

    }

  

}
  
@media only screen and (min-width: 1024px) {

    .carousel-bg{
        height: 420px;

    }

    .about-bg{
        height: 300px;
   
    }

    .apply-bg{
        height: 400px;
    
    }

}  
 

 @media only screen and (min-width: 1200px) {

    .wrapper {
        margin-right: auto; 
        margin-left:  auto;
        max-width: 960px;
        padding-right: 10px;
        padding-left:  10px;
    }
   
    .about-bg{
        height: 300px;
        
    }
    
     .carousel-bg{
        height: 420px;
        padding: 30px 0px;

    }

    .apply-bg{
        height: 500px;
     

    }
    
 p.desc-team{
    font-size: 15px;
    text-align: justify;
    margin: 0px 10px;
}

.team-bg{
    padding: 30px 20px 0px 20px;
}

.mapouter{
    position:relative;
    text-align:center;
    height:500px;
    width:500px;}
    
.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:500px;
    width:500px;
    
}
 




p.desc{
    font-size: 15px;
    text-align: justify;
    margin: 0px 80px;
    padding: 0px 120px;
}

p.price1{
    margin:0px 80px;
    padding-left:190px;
    
}

p.price2{
    margin:0px 80px;
    padding-right:150px;
    
}

.gallery-container a{
    width: 230px;
    margin: 20px 23px ;



}

 

